.grid-style{
    height: 250px;
    table-layout: fixed;
    overflow-y: auto ;
}
.container{
    margin-top: 10px;
    text-align: center;
}
h3{
  top:5px;
  bottom:20px;
  color:green;
}
h4{
  color:green;
}
.row{
  margin-top: 10px !important;
}
th{
  text-align: center;
  background-color: #DCDCDC;
}
td{
  text-align: left;
}
button{
  float: left;
  margin-right: 0px;
}
.paraStyle{
  top:15px !important;
}
.col-sm-1{
  top: 5px;
}
