<div class="container" *ngIf="hidePanel">
  <h3>Location Maintenance</h3>
  <div class="row">
    <div class="col-sm-1">
      <label>Location:</label>
    </div>
    <div class="col-sm-3">
      <input class="form-control" id="searchValue" [(ngModel)]="search.textValue" required>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary" (click)="getLocationData()">Submit</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
      <button class="btn btn-success" (click)="addNewLocation()">+ Add New</button>
    </div>
    <div class="col-sm-4 paraStyle">
      <p>Check the box beside the row you want to change</p>
    </div>
  </div>
  <div class="container" *ngIf="displayGrid">
    <div class="panel panel-default">
      <div class="grid-style">
        <table class="table table-bordered table-condensed table-striped">
          <thead>
            <tr>
              <th></th>
              <th *ngFor="let field of fieldsArray">{{field.label}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of dataArrayCopy">
              <td><input type="checkbox" id="checkValue" (change)="onChange(data)"></td>
              <td *ngFor="let field of fieldsArray">{{data[field.name]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <app-pagination [totalRecords]="totalRecords" [recordsPerPage]="50" [offset]="offsetIndex" [searchValue]="search.textValue" (getOffsetValue)="getLocationData($event, search.textValue)"></app-pagination>
  </div>
  <div class="container display-style" *ngIf="displayLabel">
    <label class="danger">No records exists</label>
  </div>
</div>
<div class="container" *ngIf="showPanel">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">{{locationTitle}}</div>
      <div class="panel-body">
        <form class="form-horizontal" #locationForm="ngForm">
          <div class="form-group">
            <label for="location" class="control-label col-md-3">Location: </label>
            <div class="col-md-6">
              <input type="text" class="form-control" id="location" required [(ngModel)]="location.location" name="location" placeholder="01-01-01-01" [disabled]="locationTitle == 'Change Location'">
            </div>
          </div>
          <div class="form-group">
            <label for="direction" class="control-label col-md-3">Direction: </label>
            <div class="col-md-6">
              <input type="text" class="form-control" id="direction" required [(ngModel)]="location.direction" name="direction" placeholder="east">
            </div>
          </div>
          <div class="form-group">
            <label for="skidEquivalent" class="control-label col-md-3">Skid Equivalent: </label>
            <div class="col-md-6">
              <input type="number" class="form-control" id="skidEquivalent" required [(ngModel)]="location.skidEquivalent" name="skidEquivalent" placeholder="0.25">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-3 col-md-1 md-check-style">
              <input type="checkbox" id="active" [(ngModel)]="location.active" name="active">&nbsp;<b>Active</b>
            </div>
            <div class="col-md-1 md-check-style">
              <input type="checkbox" id="oversized" [(ngModel)]="location.oversized" name="oversized">&nbsp;<b>Oversized</b>
            </div>
            <div class="col-md-1 md-check-style">
              <input type="checkbox" id="secure" [(ngModel)]="location.secure" name="secure">&nbsp;<b>Secure</b>
            </div>
            <div class="col-md-1 md-check-style">
              <input type="checkbox" id="pickNPack" [(ngModel)]="location.pickNPack" name="pickNPack">&nbsp;<b>PickNPack</b>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-5 col-md-1" *ngIf="displaySaveBtn">
              <button type="button" class="btn btn-primary" [disabled]="!locationForm.form.valid" (click)="saveLocation(locationForm.value)">Save</button>
            </div>
            <div class="col-md-offset-5 col-md-1" *ngIf="displayUpdateBtn">
              <button type="button" class="btn btn-primary" (click)="updateLocation(location)">Update</button>
            </div>
            <div class="col-md-1">
              <button class="btn btn-primary" (click)="onCancel()">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
