<div class="container">
  <h3>Location Maintenance</h3>
  <div class="row">
      <div class="col-sm-3">
        Location: &nbsp;
        <input id="searchValue" [(ngModel)]="search.textValue" required>
      </div>
      <div class="col-sm-2">
          <button (click)="onSubmit(search)">Submit</button>
      </div>
  </div>
  <div class="container">
    <button (click)="onSubmit(search)">+Add New</button>
  </div>
</div>
<div class="container" *ngIf="displayGrid">
    <div class="grid-style">
      <table class="table table-bordered table-condensed table-striped">
        <thead>
          <tr>
            <th></th>
            <th *ngFor="let field of fieldsArray">{{field}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataArrayCopy">
            <td><input type="checkbox" id="checkValue"></td>
            <td *ngFor="let field of fieldsArray">{{data[field]}}</td>
          </tr>
        </tbody>
      </table>
      <p>Check the box beside the row you want to change</p>
  </div>
</div>
