.routerStyle{
  padding-top: 0px;
}
.exitStyle{
  float: right;
  margin-top:20px;
}
.img_style{
  height: 100px;
  width: 100px;
  position: absolute;
  clear: both;
}
.dropdown_style{
  margin-left:100px;
}
.optionStyle{
  font-weight: bold;
}
hr{
  padding-bottom: 0px;
}
