<div class="row">
  <h3>Global Search</h3>
  <div class="col-md-1 label-style">Search Form/Table:</div>
  <div class="col-md-2">
    <select class="form-control" [(ngModel)]="search.tableValue" (change)="onSearchTable(search.tableValue)">
      <option value="">Select Table</option>
      <option *ngFor="let menu of globalMenu" value="{{menu.value}}">{{menu.text}}</option>
    </select>
  </div>
  <div class="col-md-1 label-style">Search Field: </div>
  <div class="col-md-2">
    <select class="form-control" id="fieldValue" [(ngModel)]="search.fieldValue" (change)="onSearchField(search.fieldValue)">
      <option value="">Select Field</option>
      <option *ngFor="let field of fieldsArray" value="{{field.name}}">{{field.label}}</option>
    </select>
  </div>
  <div class="col-md-1 label-style">Search Value:</div>
  <div class="col-md-2">
    <input class="form-control" id="searchValue" [(ngModel)]="search.textValue" placeholder="Enter text here" required>
    <span>{{errorMsg}}</span>
  </div>
  <div class="col-md-1">
    <button class="btn btn-primary" (click)="onSubmit(0,search)">Submit</button>
  </div>
</div>
<div class="container" *ngIf="displayGrid">
  <h4>{{tableTitle}} details</h4>
  <div class="panel panel-default">
    <div class="grid-style">
      <table class="table table-bordered table-condensed table-striped">
        <thead>
          <tr>
            <th *ngFor="let field of fieldsArray">{{field.label}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataArray">
            <td *ngFor="let field of fieldsArray">{{data[field.name]}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-pagination [totalRecords]="totalRecords" [recordsPerPage]="50" [offset]="offsetIndex" [searchValue]="search.textValue" (getOffsetValue)="onSubmit($event, search.textValue)"></app-pagination>
</div>
<div class="container display-style" *ngIf="displayLabel">
  <label class="danger">No records exists</label>
</div>
